<footer class="footer bg-black">
    <div class="container">
        <div class="brand m-3">
            <a routerLink="home" class="text-white text-decoration-none">
                <h1>IMAGIX</h1> 
                <h3>CINEMA</h3>
            </a>
            <div class="copy">
                <p class="text-align-center"> &copy; 2025 IMAGIX. Всі Права захищені.</p>
            </div>
        </div>
        <div class="someinfo m-2">
            <p>Email: Imagix&#x40;gmail.com</p>
            <p>Phone: +1 123 456 7890</p>
            <p>Address: Пимоненка, 19</p>
        </div>
        
        <div class="contacts">
            <a href="contacts">
            <button class="button-85 m-3" role="#contacts">Контакти</button>
            </a>
        </div>
       
        <div class="icons">
            <div class="facebook-box">
                <a href="#cz"><i class="fa fa-facebook-f"></i></a>
            </div>
            <div class="instagram">
                <a href="#df">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="telegram">
                <a href="#а"><i class="fa fa-telegram"></i></a>
            </div>
            <div class="youtube">
                <a href="#а"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
   
</footer>