<div class="movie-management">
    <h2>Налаштуваня фільмів:</h2>
    <div class="button-group">
        <button (click)="toggleForm('addMovie')" [class.active]="showAddMovieForm">Додати фільм</button>
        <button (click)="toggleForm('editMovie')" [class.active]="showEditMovieForm">Редагувати фільм</button>
        <button (click)="toggleForm('deleteMovie')" [class.active]="showDeleteMovieForm">Видалити фільм</button>
      </div>
  
    <!-- Додавання фільму -->
    <form *ngIf="showAddMovieForm" [formGroup]="addMovieForm" (ngSubmit)="onAddMovie()" class="form">
        <h2>Додати новий фільм</h2>
      <div class="form-group">
        <label for="title">Назва:</label>
        <input type="text" formControlName="Title" id="title" placeholder="Введіть назву фільму">
      </div>

  
      <div class="form-group">
        <label>Дата виходу:</label>
        <input type="date" formControlName="ReleaseDate" title="Дата виходу">
      </div>
  
      <div class="form-group">
        <label for="genre">Жанр:</label>
        <input type="text" formControlName="Genre" id="genre" placeholder="Введіть жанр фільму">
      </div>

  
      <div class="form-group">
        <label>Постер:</label>
        <input type="text" formControlName="PosterImg" placeholder="Введіть назву постера фільму" >
      </div>
  
      <div class="form-group">
        <label>Режисер:</label>
        <input type="text" formControlName="Director" placeholder="Введіть режисера фільму">
      </div>
  
      <div class="form-group">
        <label>Опис:</label>
        <textarea formControlName="Description" placeholder="Введіть опис фільму"></textarea>
      </div>
  
      <div class="form-group">
        <label>Тривалість (хв):</label>
        <input type="number" formControlName="Duration" placeholder="Введіть тривалість фільму">
      </div>
  
      <div class="form-group">
        <label>Мова:</label>
        <input type="text" formControlName="Language" placeholder="Введіть мову фільму">
      </div>
  
      <button type="submit" [disabled]="!addMovieForm.valid">Додати</button>
    </form>
  
    <!-- Редагування фільму -->
    <form *ngIf="showEditMovieForm" [formGroup]="editMovieForm" (ngSubmit)="onEditMovie()" class="form">
        <h2>Редагувати фільм</h2>
      <div class="form-group">
        <label>ID фільму:</label>
        <input type="number" formControlName="MovieID" placeholder="Введіть id фільму">
      </div>
  
      <div class="form-group">
        <label>Назва:</label>
        <input type="text" formControlName="Title" placeholder="Введіть назву фільму">
      </div>
  
      <div class="form-group">
        <label>Дата виходу:</label>
        <input type="date" formControlName="ReleaseDate" title="Дата виходу">
      </div>
  
      <div class="form-group">
        <label>Жанр:</label>
        <input type="text" formControlName="Genre" placeholder="Введіть жанр фільму">
      </div>
  
      <div class="form-group">
        <label>Постер:</label>
        <input type="text" formControlName="PosterImg" placeholder="Введіть назву постера фільму">
      </div>

      <div class="form-group">
        <label>Режисер:</label>
        <input type="text" formControlName="Director" placeholder="Введіть режисера фільму">
      </div>
  
      <div class="form-group">
        <label>Опис:</label>
        <textarea formControlName="Description" placeholder="Введіть опис фільму"></textarea>
      </div>
  
      <div class="form-group">
        <label>Тривалість (хв):</label>
        <input type="number" formControlName="Duration" placeholder="Введіть тривалість фільму">
      </div>
  
      <div class="form-group">
        <label>Мова:</label>
        <input type="text" formControlName="Language" placeholder="Введіть мову фільму">
      </div>
      <button type="submit" [disabled]="!editMovieForm.valid">Зберегти</button>
  </form>

  
  <form *ngIf="showDeleteMovieForm" (ngSubmit)="onDeleteMovie()" class="form">
    <h2>Видалити фільм</h2>
    <div class="form-group">
      <label>ID фільму:</label>
      <input type="number" [(ngModel)]="deleteId" name="deleteId" required placeholder="Введіть id фільму">
    </div>
    <button type="submit" [disabled]="!deleteId">Видалити</button>
  </form>
</div>

<div class="session-management">
    <h2>Налаштування сеансів:</h2>
    <div class="button-group">
      <button (click)="toggleForm('addSession')" [class.active]="showAddSessionForm">Додати сеанс</button>
      <button (click)="toggleForm('deleteSession')" [class.active]="showDeleteSessionForm">Видалити сеанс</button>
    </div>
    <!--  Додавання сеансу-->
    <form *ngIf="showAddSessionForm" [formGroup]="addSessionForm" (ngSubmit)="onAddSession()" class="form">
        <h2>Додати новий сеанс</h2>
        <div class="form-group">
            <label for="movieId">ID фільму:</label>
            <input type="number" formControlName="MovieID" id="movieId" placeholder="Введіть ID фільму">
        </div>
  
      <div class="form-group">
        <label for="date">Дата:</label>
        <input type="date" formControlName="Date" id="date" placeholder="Введіть дату сеансу">
      </div>
  
      <div class="form-group">
        <label for="time">Час:</label> 
        <input type="time" formControlName="Time" id="time" placeholder="Введіть час сеансу">
      </div>
  
      <div class="form-group">
        <label for="hall">Зал:</label>
        <input type="text" formControlName="Hall" id="hall" placeholder="Введіть номер залу">
      </div>
  
      <div class="form-group">
        <label for="price">Ціна:</label>
        <input type="number" formControlName="Price" id="price" placeholder="Введіть ціну сеансу">
      </div>
  
      <button type="submit" [disabled]="!addSessionForm.valid">Додати</button>
  </form>
    <form *ngIf="showDeleteSessionForm" (ngSubmit)="onDeleteSession()" class="form">
        <h2>Видалити сеанс</h2>
        <div class="form-group">
            <label>ID сеансу:</label>
            <input type="number" [(ngModel)]="deleteId" name="deleteId" required placeholder="Введіть id сеансу">
        </div>
        <button type="submit" [disabled]="!deleteId">Видалити</button>
    </form>
</div> 