<h4 class="hh">Зараз у кіно:</h4>
<div class="movie-grid">
    <div *ngFor="let movie of movies" class="movie-card">
        <div class="movie-image">
            <a href="#">
                <img [src]="'../../../posters/'+ movie.PosterImg + '.jpeg'"alt="{{movie.Title}}">
            </a>
        </div>
        <div class="movie-info">
            <h4><a href="#">{{movie.Title}}</a></h4>
            <p class="genre">Жанр: {{movie.Genre}}</p>
            <p>Режисер: {{movie.Director}}</p>
            <p>Дата виходу: {{movie.ReleaseDate | date:'dd-MM-yyyy'}}</p>
        </div>
    </div>
</div>
