<div *ngIf="movie; else notFound" class="movie-details-container">
  <div class="movie-main">
    <img class="poster" [src]="'../../../posters/' + movie.PosterImg + '.jpeg'" alt="{{ movie.Title }}">
      <div class="details">
        <h1>{{ movie.Title }}</h1>
          <div class="movie-info-grid">
            <p><strong>Дата виходу:</strong> {{ movie.ReleaseDate | date:'dd-MM-yyyy' }}</p>
            <p><strong>Мова:</strong> {{ movie.Language }}</p>
            <p><strong>Режисер:</strong> {{ movie.Director }}</p>
            <p><strong>Жанр:</strong> {{ movie.Genre }}</p>
            <p><strong>Тривалість:</strong> {{ movie.Duration }} хв.</p>
          </div>
          <p class="movie-description">
            <strong>Опис:</strong> 
            {{ movie.Description }}</p>
      </div>
  </div>


  <div class="schedule-section">
    <h2>Розклад сеансів</h2>
    <!-- <div *ngIf="sessions.length > 0; else noSessions">
      <div class="session-list">
        <a *ngFor="let session of sessions" [routerLink]="'/buy-ticket/' + session.id" class="session-time">
          {{ session.time }} - {{ session.format }}
        </a>
      </div>
    </div> -->
    <ng-template #noSessions>
      <p>Сеанси відсутні.</p>
    </ng-template>
  </div>

  <div class="other-movies">
    <h2>Дивіться також</h2>
    <div class="movie-grid">
      <div *ngFor="let otherMovie of otherMovies" class="movie-card">
        <a [routerLink]="'/movie/' + otherMovie.MovieID">
          <img [src]="'../../../posters/' + otherMovie.PosterImg + '.jpeg'" alt="{{ otherMovie.Title }}">
        </a>
        <div class="movie-info">
          <h4><a [routerLink]="'/movie/' + otherMovie.MovieID">{{ otherMovie.Title }}</a></h4>
        </div>
      </div>   
    </div>
  </div>
</div>

<ng-template #notFound>
  <p>Фільм не знайдено.</p>
</ng-template>
